*.*
!smilies/*
!catpics/*
!.gitignore
!404thumb.gif
!Eadui.ttf
!Eadui_fontlog.txt
!Eadui_OFL_licence.txt
!gifthumb.gif
!no_thumbs.gif
!sec.jpg
!secimg.php
!showpics.php
!verdanab.ttf
!verdana_eula.pdf