<a name="01id<?php echo $row['id']; ?>"></a>

<div class="artikel_self">
	<div class="artikel_headline">
		<h2 class="titel"><a href="<?PHP echo $system_link_row; ?>#01id<?PHP echo $row['id']; ?>" class="titel">
			<?php if ($row['icon'] != 0): ?><img src="<?php echo $iconpf.$row['icon']; ?>" alt="Symbol-Icon" style="border:0;" /><?php endif; ?>
            <?php echo $titel; ?>
        </a></h2>
		<?php if ($row['hide_headline'] == 0 || $static == 0): ?>
			<p class="headline_small float_left">
				Geschrieben von <?PHP echo $username; ?> am <?php echo $datum; ?> um <?php echo $uhrzeit; ?> Uhr &bull;
				<?php if ($settings['comments'] == 1 && $row['comments'] == 1): ?><a href="<?php echo $system_link_row; ?>">Kommentare</a> (<?php echo $comments; ?>) &bull; <?php endif; ?>
				<a href="<?php echo $system_link_row; ?>#01id<?PHP echo $row['id']; ?>">Artikel lesen</a>
			</p>
		<?php endif; ?>
	</div>

	<div class="artikel_text artikel_textbox">
		<?php if (!empty($catimg) && !empty($catname)): ?>
			<p class="artikel_catimg">
				<?php echo $catimg; ?>
			</p>
		<?php endif; ?>
		
		<?php echo $artikeltext; ?>
		<?php echo $signatur; ?>
		
		<?php if ($more == 1): ?>
			<p class="footline_small">
			<a href="<?PHP echo $system_link_row; ?>#01id<?PHP echo $row['id']; ?>">Kompletten Artikel lesen &raquo;</a>
			</p>
		<?php endif; ?>

		<p class="footline_small" style="clear:both;">
			<?PHP echo $row['hits']; ?> Views
			<?php if(!empty($catname)): ?>
				&bull;  Kategorien: <?PHP echo $catname; ?>
			<?php endif; ?>
		</p>
	</div>
</div>

<?php if(isset($_GET[$names['artid']]) && !empty($_GET[$names['artid']]) && $_GET[$names['artid']] != "archiv" && $static == 0): ?>
<table align="center" class="table_page page_text">
	<tr>
	<td width="33%" align="left">
		<?php if(!empty($next_titel)): ?>
			<a href="<?PHP echo $next_link; ?>">&laquo; <?PHP echo $next_titel; ?></a>
		<?php endif; ?>
	</td>
	<td align="center" width="33%">
		<a href="<?PHP echo $system_link_index; ?>#01id<?PHP echo $_GET[$names['artid']]; ?>">&raquo; Zur&uuml;ck zur &Uuml;bersicht &laquo;</a>
	</td>
	<td width="33%" align="right">
		<?php if(!empty($prev_titel)): ?>
			<a href="<?PHP echo $prev_link; ?>"><?PHP echo $prev_titel; ?> &raquo;</a>
		<?php endif; ?>
	</td>
	</tr>
</table>
<?php endif; ?>